<%= form_for [@post, @comment] do |f| %>
<%= render 'layouts/error', object: @comment %>
  <div class="form-group">
    <%= f.label "Leave a comment" %>
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <%= f.submit 'Add comment', class: 'btn btn-primary' %>
<% end %>