<div class="row">
  <div class="col-md-8">
    <h4>Profile: <%= @user.username %></h4>
    <hr>
    <div class="well">
      <dl class="dl-horizontal">
        <dt>Username: </dt>
        <dd><%= @user.username %></dd>
        <dt>Time Zone: </dt>
        <dd><%= @user.time_zone %></dd>
      </dl>
    </div>

    <h5><strong><%= @user.username %>'s Activity</strong></h5>
    <ul id="profile-tabs" class="nav nav-tabs" role="tablist">
      <li id="posts-tab" class='active'>
        <%= link_to posts_user_path(@user), method: "post", remote: true do %>
          Posts (<%= @user.posts.size %>)
        <% end %>
      </li>
      <li id="comments-tab">
        <%= link_to "Comments (#{@user.comments.size})", comments_user_path(@user), method: "post", remote: true %>
      </li>
    </ul>

    <div id="tab-content">
      <% @user.posts.each do |post| %>
        <%= render 'posts/post', post: post %>
      <% end %>
    </div>

  </div>
</div>