<div class="row">
  <div class="col-md-8">
    <p>
      <%= render @post.categories %>
    </p>
    <%= render 'posts/post_title', post: @post %>
    <div class="well">
      <p><%= @post.description %></p>
    </div>
    <hr>
  </div> 
</div>

<% if logged_in? %>
  <div class="row">
    <div class="col-md-4">
      <%= render 'comments/form' %>
    </div>
  </div>
<% end %>
<br>
<h4>Comments:</h4>
  <% @post.comments.order("created_at DESC").each do |comment| %>
      <%= render 'comments/comment', post: @post, comment: comment %>
  <% end %>
